<h1>Result</h1>
<% if @check.empty? && @boolean_english["found"] %>
<p><strong>Congratulations!</strong> <%= @word %> is a valid English word!</p>
<%   if session[:score].nil?
      session[:score] = result
    else
      session[:score] += @result
    end %>
<h3>Score: <%= session[:score] %></h3>
<% elsif !@check.empty?  && @boolean_english["found"]%>
<p>Sorry but <strong> <%= @word %> </strong>can't be built out of <%= @letters %></p>
<% else %>
<p>Sorry but <strong><%= @word %></strong> does not seem a valid English word...</p>
<% end %>


<%= link_to "Play again", new_path %>



<form action="/reset" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="submit" value="Reset">
</form>

